/ClientController.class
/DBinfo.class
/Main.class
/MainController.class
/ReadData.class
/RegisterUserController.class
/ModifyUserController.class
/AddMedicineController.class
/SearchMedicineController.class
/MedicineCardController.class
/MedicineDetailsController.class
/AddStockController.class
/DshboardController.class
/DashboardController.class
/AdminController.class
/CompanyCardController.class
/SellStockController.class
/SalesCardController.class
